{{#section 'head'}}
  <title>User | Niddabot: Discord | Nidawi.me</title>
{{/section}}
{{#if discord}}
  <div class="account">
    <p>user</p>
    <img src="/img/niddabot.png">
    <div class="acc-dropdown">
      <a href="/user">User Info</a>
      <a href="/user/repos">Repos</a>
      <a href="/user/signout">Sign out</a>
    </div>
  </div>
{{/if}}