<select name="country">
<option {{#some preset.nationality '==' undefined '&&' discord.nationality '==' undefined}} selected {{/some}} disabled hidden>Select country</option>
<option {{#some preset.nationality '==' 'Afganistan' '||' discord.nationality '==' 'Afganistan'}} selected {{/some}} value="Afganistan">Afganistan</option>
<option {{#some preset.nationality '==' 'Albania' '||' discord.nationality '==' 'Albania'}} selected {{/some}} value="Albania">Albania</option>
<option {{#some preset.nationality '==' 'Algeria' '||' discord.nationality '==' 'Algeria'}} selected {{/some}} value="Algeria">Algeria</option>
<option {{#some preset.nationality '==' 'American Samoa' '||' discord.nationality '==' 'American Samoa'}} selected {{/some}} value="American Samoa">American Samoa</option>
<option {{#some preset.nationality '==' 'Andorra' '||' discord.nationality '==' 'Andorra'}} selected {{/some}} value="Andorra">Andorra</option>
<option {{#some preset.nationality '==' 'Angola' '||' discord.nationality '==' 'Angola'}} selected {{/some}} value="Angola">Angola</option>
<option {{#some preset.nationality '==' 'Anguilla' '||' discord.nationality '==' 'Anguilla'}} selected {{/some}} value="Anguilla">Anguilla</option>
<option {{#some preset.nationality '==' 'Antigua & Barbuda' '||' discord.nationality '==' 'Antigua & Barbuda'}} selected {{/some}} value="Antigua & Barbuda">Antigua & Barbuda</option>
<option {{#some preset.nationality '==' 'Argentina' '||' discord.nationality '==' 'Argentina'}} selected {{/some}} value="Argentina">Argentina</option>
<option {{#some preset.nationality '==' 'Armenia' '||' discord.nationality '==' 'Armenia'}} selected {{/some}} value="Armenia">Armenia</option>
<option {{#some preset.nationality '==' 'Aruba' '||' discord.nationality '==' 'Aruba'}} selected {{/some}} value="Aruba">Aruba</option>
<option {{#some preset.nationality '==' 'Australia' '||' discord.nationality '==' 'Australia'}} selected {{/some}} value="Australia">Australia</option>
<option {{#some preset.nationality '==' 'Austria' '||' discord.nationality '==' 'Austria'}} selected {{/some}} value="Austria">Austria</option>
<option {{#some preset.nationality '==' 'Azerbaijan' '||' discord.nationality '==' 'Azerbaijan'}} selected {{/some}} value="Azerbaijan">Azerbaijan</option>
<option {{#some preset.nationality '==' 'Bahamas' '||' discord.nationality '==' 'Bahamas'}} selected {{/some}} value="Bahamas">Bahamas</option>
<option {{#some preset.nationality '==' 'Bahrain' '||' discord.nationality '==' 'Bahrain'}} selected {{/some}} value="Bahrain">Bahrain</option>
<option {{#some preset.nationality '==' 'Bangladesh' '||' discord.nationality '==' 'Bangladesh'}} selected {{/some}} value="Bangladesh">Bangladesh</option>
<option {{#some preset.nationality '==' 'Barbados' '||' discord.nationality '==' 'Barbados'}} selected {{/some}} value="Barbados">Barbados</option>
<option {{#some preset.nationality '==' 'Belarus' '||' discord.nationality '==' 'Belarus'}} selected {{/some}} value="Belarus">Belarus</option>
<option {{#some preset.nationality '==' 'Belgium' '||' discord.nationality '==' 'Belgium'}} selected {{/some}} value="Belgium">Belgium</option>
<option {{#some preset.nationality '==' 'Belize' '||' discord.nationality '==' 'Belize'}} selected {{/some}} value="Belize">Belize</option>
<option {{#some preset.nationality '==' 'Benin' '||' discord.nationality '==' 'Benin'}} selected {{/some}} value="Benin">Benin</option>
<option {{#some preset.nationality '==' 'Bermuda' '||' discord.nationality '==' 'Bermuda'}} selected {{/some}} value="Bermuda">Bermuda</option>
<option {{#some preset.nationality '==' 'Bhutan' '||' discord.nationality '==' 'Bhutan'}} selected {{/some}} value="Bhutan">Bhutan</option>
<option {{#some preset.nationality '==' 'Bolivia' '||' discord.nationality '==' 'Bolivia'}} selected {{/some}} value="Bolivia">Bolivia</option>
<option {{#some preset.nationality '==' 'Bonaire' '||' discord.nationality '==' 'Bonaire'}} selected {{/some}} value="Bonaire">Bonaire</option>
<option {{#some preset.nationality '==' 'Bosnia & Herzegovina' '||' discord.nationality '==' 'Bosnia & Herzegovina'}} selected {{/some}} value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
<option {{#some preset.nationality '==' 'Botswana' '||' discord.nationality '==' 'Botswana'}} selected {{/some}} value="Botswana">Botswana</option>
<option {{#some preset.nationality '==' 'Brazil' '||' discord.nationality '==' 'Brazil'}} selected {{/some}} value="Brazil">Brazil</option>
<option {{#some preset.nationality '==' 'British Indian Ocean Ter' '||' discord.nationality '==' 'British Indian Ocean Ter'}} selected {{/some}} value="British Indian Ocean Ter">British Indian Ocean Ter</option>
<option {{#some preset.nationality '==' 'Brunei' '||' discord.nationality '==' 'Brunei'}} selected {{/some}} value="Brunei">Brunei</option>
<option {{#some preset.nationality '==' 'Bulgaria' '||' discord.nationality '==' 'Bulgaria'}} selected {{/some}} value="Bulgaria">Bulgaria</option>
<option {{#some preset.nationality '==' 'Burkina Faso' '||' discord.nationality '==' 'Burkina Faso'}} selected {{/some}} value="Burkina Faso">Burkina Faso</option>
<option {{#some preset.nationality '==' 'Burundi' '||' discord.nationality '==' 'Burundi'}} selected {{/some}} value="Burundi">Burundi</option>
<option {{#some preset.nationality '==' 'Cambodia' '||' discord.nationality '==' 'Cambodia'}} selected {{/some}} value="Cambodia">Cambodia</option>
<option {{#some preset.nationality '==' 'Cameroon' '||' discord.nationality '==' 'Cameroon'}} selected {{/some}} value="Cameroon">Cameroon</option>
<option {{#some preset.nationality '==' 'Canada' '||' discord.nationality '==' 'Canada'}} selected {{/some}} value="Canada">Canada</option>
<option {{#some preset.nationality '==' 'Canary Islands' '||' discord.nationality '==' 'Canary Islands'}} selected {{/some}} value="Canary Islands">Canary Islands</option>
<option {{#some preset.nationality '==' 'Cape Verde' '||' discord.nationality '==' 'Cape Verde'}} selected {{/some}} value="Cape Verde">Cape Verde</option>
<option {{#some preset.nationality '==' 'Cayman Islands' '||' discord.nationality '==' 'Cayman Islands'}} selected {{/some}} value="Cayman Islands">Cayman Islands</option>
<option {{#some preset.nationality '==' 'Central African Republic' '||' discord.nationality '==' 'Central African Republic'}} selected {{/some}} value="Central African Republic">Central African Republic</option>
<option {{#some preset.nationality '==' 'Chad' '||' discord.nationality '==' 'Chad'}} selected {{/some}} value="Chad">Chad</option>
<option {{#some preset.nationality '==' 'Channel Islands' '||' discord.nationality '==' 'Channel Islands'}} selected {{/some}} value="Channel Islands">Channel Islands</option>
<option {{#some preset.nationality '==' 'Chile' '||' discord.nationality '==' 'Chile'}} selected {{/some}} value="Chile">Chile</option>
<option {{#some preset.nationality '==' 'China' '||' discord.nationality '==' 'China'}} selected {{/some}} value="China">China</option>
<option {{#some preset.nationality '==' 'Christmas Island' '||' discord.nationality '==' 'Christmas Island'}} selected {{/some}} value="Christmas Island">Christmas Island</option>
<option {{#some preset.nationality '==' 'Cocos Island' '||' discord.nationality '==' 'Cocos Island'}} selected {{/some}} value="Cocos Island">Cocos Island</option>
<option {{#some preset.nationality '==' 'Colombia' '||' discord.nationality '==' 'Colombia'}} selected {{/some}} value="Colombia">Colombia</option>
<option {{#some preset.nationality '==' 'Comoros' '||' discord.nationality '==' 'Comoros'}} selected {{/some}} value="Comoros">Comoros</option>
<option {{#some preset.nationality '==' 'Congo' '||' discord.nationality '==' 'Congo'}} selected {{/some}} value="Congo">Congo</option>
<option {{#some preset.nationality '==' 'Cook Islands' '||' discord.nationality '==' 'Cook Islands'}} selected {{/some}} value="Cook Islands">Cook Islands</option>
<option {{#some preset.nationality '==' 'Costa Rica' '||' discord.nationality '==' 'Costa Rica'}} selected {{/some}} value="Costa Rica">Costa Rica</option>
<option {{#some preset.nationality '==' 'Cote DIvoire' '||' discord.nationality '==' 'Cote DIvoire'}} selected {{/some}} value="Cote DIvoire">Cote DIvoire</option>
<option {{#some preset.nationality '==' 'Croatia' '||' discord.nationality '==' 'Croatia'}} selected {{/some}} value="Croatia">Croatia</option>
<option {{#some preset.nationality '==' 'Cuba' '||' discord.nationality '==' 'Cuba'}} selected {{/some}} value="Cuba">Cuba</option>
<option {{#some preset.nationality '==' 'Curaco' '||' discord.nationality '==' 'Curaco'}} selected {{/some}} value="Curaco">Curaco</option>
<option {{#some preset.nationality '==' 'Cyprus' '||' discord.nationality '==' 'Cyprus'}} selected {{/some}} value="Cyprus">Cyprus</option>
<option {{#some preset.nationality '==' 'Czech Republic' '||' discord.nationality '==' 'Czech Republic'}} selected {{/some}} value="Czech Republic">Czech Republic</option>
<option {{#some preset.nationality '==' 'Denmark' '||' discord.nationality '==' 'Denmark'}} selected {{/some}} value="Denmark">Denmark</option>
<option {{#some preset.nationality '==' 'Djibouti' '||' discord.nationality '==' 'Djibouti'}} selected {{/some}} value="Djibouti">Djibouti</option>
<option {{#some preset.nationality '==' 'Dominica' '||' discord.nationality '==' 'Dominica'}} selected {{/some}} value="Dominica">Dominica</option>
<option {{#some preset.nationality '==' 'Dominican Republic' '||' discord.nationality '==' 'Dominican Republic'}} selected {{/some}} value="Dominican Republic">Dominican Republic</option>
<option {{#some preset.nationality '==' 'East Timor' '||' discord.nationality '==' 'East Timor'}} selected {{/some}} value="East Timor">East Timor</option>
<option {{#some preset.nationality '==' 'Ecuador' '||' discord.nationality '==' 'Ecuador'}} selected {{/some}} value="Ecuador">Ecuador</option>
<option {{#some preset.nationality '==' 'Egypt' '||' discord.nationality '==' 'Egypt'}} selected {{/some}} value="Egypt">Egypt</option>
<option {{#some preset.nationality '==' 'El Salvador' '||' discord.nationality '==' 'El Salvador'}} selected {{/some}} value="El Salvador">El Salvador</option>
<option {{#some preset.nationality '==' 'Equatorial Guinea' '||' discord.nationality '==' 'Equatorial Guinea'}} selected {{/some}} value="Equatorial Guinea">Equatorial Guinea</option>
<option {{#some preset.nationality '==' 'Eritrea' '||' discord.nationality '==' 'Eritrea'}} selected {{/some}} value="Eritrea">Eritrea</option>
<option {{#some preset.nationality '==' 'Estonia' '||' discord.nationality '==' 'Estonia'}} selected {{/some}} value="Estonia">Estonia</option>
<option {{#some preset.nationality '==' 'Ethiopia' '||' discord.nationality '==' 'Ethiopia'}} selected {{/some}} value="Ethiopia">Ethiopia</option>
<option {{#some preset.nationality '==' 'Falkland Islands' '||' discord.nationality '==' 'Falkland Islands'}} selected {{/some}} value="Falkland Islands">Falkland Islands</option>
<option {{#some preset.nationality '==' 'Faroe Islands' '||' discord.nationality '==' 'Faroe Islands'}} selected {{/some}} value="Faroe Islands">Faroe Islands</option>
<option {{#some preset.nationality '==' 'Fiji' '||' discord.nationality '==' 'Fiji'}} selected {{/some}} value="Fiji">Fiji</option>
<option {{#some preset.nationality '==' 'Finland' '||' discord.nationality '==' 'Finland'}} selected {{/some}} value="Finland">Finland</option>
<option {{#some preset.nationality '==' 'France' '||' discord.nationality '==' 'France'}} selected {{/some}} value="France">France</option>
<option {{#some preset.nationality '==' 'French Guiana' '||' discord.nationality '==' 'French Guiana'}} selected {{/some}} value="French Guiana">French Guiana</option>
<option {{#some preset.nationality '==' 'French Polynesia' '||' discord.nationality '==' 'French Polynesia'}} selected {{/some}} value="French Polynesia">French Polynesia</option>
<option {{#some preset.nationality '==' 'French Southern Ter' '||' discord.nationality '==' 'French Southern Ter'}} selected {{/some}} value="French Southern Ter">French Southern Ter</option>
<option {{#some preset.nationality '==' 'Gabon' '||' discord.nationality '==' 'Gabon'}} selected {{/some}} value="Gabon">Gabon</option>
<option {{#some preset.nationality '==' 'Gambia' '||' discord.nationality '==' 'Gambia'}} selected {{/some}} value="Gambia">Gambia</option>
<option {{#some preset.nationality '==' 'Georgia' '||' discord.nationality '==' 'Georgia'}} selected {{/some}} value="Georgia">Georgia</option>
<option {{#some preset.nationality '==' 'Germany' '||' discord.nationality '==' 'Germany'}} selected {{/some}} value="Germany">Germany</option>
<option {{#some preset.nationality '==' 'Ghana' '||' discord.nationality '==' 'Ghana'}} selected {{/some}} value="Ghana">Ghana</option>
<option {{#some preset.nationality '==' 'Gibraltar' '||' discord.nationality '==' 'Gibraltar'}} selected {{/some}} value="Gibraltar">Gibraltar</option>
<option {{#some preset.nationality '==' 'Great Britain' '||' discord.nationality '==' 'Great Britain'}} selected {{/some}} value="Great Britain">Great Britain</option>
<option {{#some preset.nationality '==' 'Greece' '||' discord.nationality '==' 'Greece'}} selected {{/some}} value="Greece">Greece</option>
<option {{#some preset.nationality '==' 'Greenland' '||' discord.nationality '==' 'Greenland'}} selected {{/some}} value="Greenland">Greenland</option>
<option {{#some preset.nationality '==' 'Grenada' '||' discord.nationality '==' 'Grenada'}} selected {{/some}} value="Grenada">Grenada</option>
<option {{#some preset.nationality '==' 'Guadeloupe' '||' discord.nationality '==' 'Guadeloupe'}} selected {{/some}} value="Guadeloupe">Guadeloupe</option>
<option {{#some preset.nationality '==' 'Guam' '||' discord.nationality '==' 'Guam'}} selected {{/some}} value="Guam">Guam</option>
<option {{#some preset.nationality '==' 'Guatemala' '||' discord.nationality '==' 'Guatemala'}} selected {{/some}} value="Guatemala">Guatemala</option>
<option {{#some preset.nationality '==' 'Guinea' '||' discord.nationality '==' 'Guinea'}} selected {{/some}} value="Guinea">Guinea</option>
<option {{#some preset.nationality '==' 'Guyana' '||' discord.nationality '==' 'Guyana'}} selected {{/some}} value="Guyana">Guyana</option>
<option {{#some preset.nationality '==' 'Haiti' '||' discord.nationality '==' 'Haiti'}} selected {{/some}} value="Haiti">Haiti</option>
<option {{#some preset.nationality '==' 'Hawaii' '||' discord.nationality '==' 'Hawaii'}} selected {{/some}} value="Hawaii">Hawaii</option>
<option {{#some preset.nationality '==' 'Honduras' '||' discord.nationality '==' 'Honduras'}} selected {{/some}} value="Honduras">Honduras</option>
<option {{#some preset.nationality '==' 'Hong Kong' '||' discord.nationality '==' 'Hong Kong'}} selected {{/some}} value="Hong Kong">Hong Kong</option>
<option {{#some preset.nationality '==' 'Hungary' '||' discord.nationality '==' 'Hungary'}} selected {{/some}} value="Hungary">Hungary</option>
<option {{#some preset.nationality '==' 'Iceland' '||' discord.nationality '==' 'Iceland'}} selected {{/some}} value="Iceland">Iceland</option>
<option {{#some preset.nationality '==' 'India' '||' discord.nationality '==' 'India'}} selected {{/some}} value="India">India</option>
<option {{#some preset.nationality '==' 'Indonesia' '||' discord.nationality '==' 'Indonesia'}} selected {{/some}} value="Indonesia">Indonesia</option>
<option {{#some preset.nationality '==' 'Iran' '||' discord.nationality '==' 'Iran'}} selected {{/some}} value="Iran">Iran</option>
<option {{#some preset.nationality '==' 'Iraq' '||' discord.nationality '==' 'Iraq'}} selected {{/some}} value="Iraq">Iraq</option>
<option {{#some preset.nationality '==' 'Ireland' '||' discord.nationality '==' 'Ireland'}} selected {{/some}} value="Ireland">Ireland</option>
<option {{#some preset.nationality '==' 'Isle of Man' '||' discord.nationality '==' 'Isle of Man'}} selected {{/some}} value="Isle of Man">Isle of Man</option>
<option {{#some preset.nationality '==' 'Israel' '||' discord.nationality '==' 'Israel'}} selected {{/some}} value="Israel">Israel</option>
<option {{#some preset.nationality '==' 'Italy' '||' discord.nationality '==' 'Italy'}} selected {{/some}} value="Italy">Italy</option>
<option {{#some preset.nationality '==' 'Jamaica' '||' discord.nationality '==' 'Jamaica'}} selected {{/some}} value="Jamaica">Jamaica</option>
<option {{#some preset.nationality '==' 'Japan' '||' discord.nationality '==' 'Japan'}} selected {{/some}} value="Japan">Japan</option>
<option {{#some preset.nationality '==' 'Jordan' '||' discord.nationality '==' 'Jordan'}} selected {{/some}} value="Jordan">Jordan</option>
<option {{#some preset.nationality '==' 'Kazakhstan' '||' discord.nationality '==' 'Kazakhstan'}} selected {{/some}} value="Kazakhstan">Kazakhstan</option>
<option {{#some preset.nationality '==' 'Kenya' '||' discord.nationality '==' 'Kenya'}} selected {{/some}} value="Kenya">Kenya</option>
<option {{#some preset.nationality '==' 'Kiribati' '||' discord.nationality '==' 'Kiribati'}} selected {{/some}} value="Kiribati">Kiribati</option>
<option {{#some preset.nationality '==' 'Korea North' '||' discord.nationality '==' 'Korea North'}} selected {{/some}} value="Korea North">Korea North</option>
<option {{#some preset.nationality '==' 'Korea Sout' '||' discord.nationality '==' 'Korea Sout'}} selected {{/some}} value="Korea Sout">Korea Sout</option>
<option {{#some preset.nationality '==' 'Kuwait' '||' discord.nationality '==' 'Kuwait'}} selected {{/some}} value="Kuwait">Kuwait</option>
<option {{#some preset.nationality '==' 'Kyrgyzstan' '||' discord.nationality '==' 'Kyrgyzstan'}} selected {{/some}} value="Kyrgyzstan">Kyrgyzstan</option>
<option {{#some preset.nationality '==' 'Laos' '||' discord.nationality '==' 'Laos'}} selected {{/some}} value="Laos">Laos</option>
<option {{#some preset.nationality '==' 'Latvia' '||' discord.nationality '==' 'Latvia'}} selected {{/some}} value="Latvia">Latvia</option>
<option {{#some preset.nationality '==' 'Lebanon' '||' discord.nationality '==' 'Lebanon'}} selected {{/some}} value="Lebanon">Lebanon</option>
<option {{#some preset.nationality '==' 'Lesotho' '||' discord.nationality '==' 'Lesotho'}} selected {{/some}} value="Lesotho">Lesotho</option>
<option {{#some preset.nationality '==' 'Liberia' '||' discord.nationality '==' 'Liberia'}} selected {{/some}} value="Liberia">Liberia</option>
<option {{#some preset.nationality '==' 'Libya' '||' discord.nationality '==' 'Libya'}} selected {{/some}} value="Libya">Libya</option>
<option {{#some preset.nationality '==' 'Liechtenstein' '||' discord.nationality '==' 'Liechtenstein'}} selected {{/some}} value="Liechtenstein">Liechtenstein</option>
<option {{#some preset.nationality '==' 'Lithuania' '||' discord.nationality '==' 'Lithuania'}} selected {{/some}} value="Lithuania">Lithuania</option>
<option {{#some preset.nationality '==' 'Luxembourg' '||' discord.nationality '==' 'Luxembourg'}} selected {{/some}} value="Luxembourg">Luxembourg</option>
<option {{#some preset.nationality '==' 'Macau' '||' discord.nationality '==' 'Macau'}} selected {{/some}} value="Macau">Macau</option>
<option {{#some preset.nationality '==' 'Macedonia' '||' discord.nationality '==' 'Macedonia'}} selected {{/some}} value="Macedonia">Macedonia</option>
<option {{#some preset.nationality '==' 'Madagascar' '||' discord.nationality '==' 'Madagascar'}} selected {{/some}} value="Madagascar">Madagascar</option>
<option {{#some preset.nationality '==' 'Malaysia' '||' discord.nationality '==' 'Malaysia'}} selected {{/some}} value="Malaysia">Malaysia</option>
<option {{#some preset.nationality '==' 'Malawi' '||' discord.nationality '==' 'Malawi'}} selected {{/some}} value="Malawi">Malawi</option>
<option {{#some preset.nationality '==' 'Maldives' '||' discord.nationality '==' 'Maldives'}} selected {{/some}} value="Maldives">Maldives</option>
<option {{#some preset.nationality '==' 'Mali' '||' discord.nationality '==' 'Mali'}} selected {{/some}} value="Mali">Mali</option>
<option {{#some preset.nationality '==' 'Malta' '||' discord.nationality '==' 'Malta'}} selected {{/some}} value="Malta">Malta</option>
<option {{#some preset.nationality '==' 'Marshall Islands' '||' discord.nationality '==' 'Marshall Islands'}} selected {{/some}} value="Marshall Islands">Marshall Islands</option>
<option {{#some preset.nationality '==' 'Martinique' '||' discord.nationality '==' 'Martinique'}} selected {{/some}} value="Martinique">Martinique</option>
<option {{#some preset.nationality '==' 'Mauritania' '||' discord.nationality '==' 'Mauritania'}} selected {{/some}} value="Mauritania">Mauritania</option>
<option {{#some preset.nationality '==' 'Mauritius' '||' discord.nationality '==' 'Mauritius'}} selected {{/some}} value="Mauritius">Mauritius</option>
<option {{#some preset.nationality '==' 'Mayotte' '||' discord.nationality '==' 'Mayotte'}} selected {{/some}} value="Mayotte">Mayotte</option>
<option {{#some preset.nationality '==' 'Mexico' '||' discord.nationality '==' 'Mexico'}} selected {{/some}} value="Mexico">Mexico</option>
<option {{#some preset.nationality '==' 'Midway Islands' '||' discord.nationality '==' 'Midway Islands'}} selected {{/some}} value="Midway Islands">Midway Islands</option>
<option {{#some preset.nationality '==' 'Moldova' '||' discord.nationality '==' 'Moldova'}} selected {{/some}} value="Moldova">Moldova</option>
<option {{#some preset.nationality '==' 'Monaco' '||' discord.nationality '==' 'Monaco'}} selected {{/some}} value="Monaco">Monaco</option>
<option {{#some preset.nationality '==' 'Mongolia' '||' discord.nationality '==' 'Mongolia'}} selected {{/some}} value="Mongolia">Mongolia</option>
<option {{#some preset.nationality '==' 'Montserrat' '||' discord.nationality '==' 'Montserrat'}} selected {{/some}} value="Montserrat">Montserrat</option>
<option {{#some preset.nationality '==' 'Morocco' '||' discord.nationality '==' 'Morocco'}} selected {{/some}} value="Morocco">Morocco</option>
<option {{#some preset.nationality '==' 'Mozambique' '||' discord.nationality '==' 'Mozambique'}} selected {{/some}} value="Mozambique">Mozambique</option>
<option {{#some preset.nationality '==' 'Myanmar' '||' discord.nationality '==' 'Myanmar'}} selected {{/some}} value="Myanmar">Myanmar</option>
<option {{#some preset.nationality '==' 'Nambia' '||' discord.nationality '==' 'Nambia'}} selected {{/some}} value="Nambia">Nambia</option>
<option {{#some preset.nationality '==' 'Nauru' '||' discord.nationality '==' 'Nauru'}} selected {{/some}} value="Nauru">Nauru</option>
<option {{#some preset.nationality '==' 'Nepal' '||' discord.nationality '==' 'Nepal'}} selected {{/some}} value="Nepal">Nepal</option>
<option {{#some preset.nationality '==' 'Netherland Antilles' '||' discord.nationality '==' 'Netherland Antilles'}} selected {{/some}} value="Netherland Antilles">Netherland Antilles</option>
<option {{#some preset.nationality '==' 'Netherlands' '||' discord.nationality '==' 'Netherlands'}} selected {{/some}} value="Netherlands">Netherlands</option>
<option {{#some preset.nationality '==' 'Nevis' '||' discord.nationality '==' 'Nevis'}} selected {{/some}} value="Nevis">Nevis</option>
<option {{#some preset.nationality '==' 'New Caledonia' '||' discord.nationality '==' 'New Caledonia'}} selected {{/some}} value="New Caledonia">New Caledonia</option>
<option {{#some preset.nationality '==' 'New Zealand' '||' discord.nationality '==' 'New Zealand'}} selected {{/some}} value="New Zealand">New Zealand</option>
<option {{#some preset.nationality '==' 'Nicaragua' '||' discord.nationality '==' 'Nicaragua'}} selected {{/some}} value="Nicaragua">Nicaragua</option>
<option {{#some preset.nationality '==' 'Niger' '||' discord.nationality '==' 'Niger'}} selected {{/some}} value="Niger">Niger</option>
<option {{#some preset.nationality '==' 'Nigeria' '||' discord.nationality '==' 'Nigeria'}} selected {{/some}} value="Nigeria">Nigeria</option>
<option {{#some preset.nationality '==' 'Niue' '||' discord.nationality '==' 'Niue'}} selected {{/some}} value="Niue">Niue</option>
<option {{#some preset.nationality '==' 'Norfolk Island' '||' discord.nationality '==' 'Norfolk Island'}} selected {{/some}} value="Norfolk Island">Norfolk Island</option>
<option {{#some preset.nationality '==' 'Norway' '||' discord.nationality '==' 'Norway'}} selected {{/some}} value="Norway">Norway</option>
<option {{#some preset.nationality '==' 'Oman' '||' discord.nationality '==' 'Oman'}} selected {{/some}} value="Oman">Oman</option>
<option {{#some preset.nationality '==' 'Pakistan' '||' discord.nationality '==' 'Pakistan'}} selected {{/some}} value="Pakistan">Pakistan</option>
<option {{#some preset.nationality '==' 'Palau Island' '||' discord.nationality '==' 'Palau Island'}} selected {{/some}} value="Palau Island">Palau Island</option>
<option {{#some preset.nationality '==' 'Palestine' '||' discord.nationality '==' 'Palestine'}} selected {{/some}} value="Palestine">Palestine</option>
<option {{#some preset.nationality '==' 'Panama' '||' discord.nationality '==' 'Panama'}} selected {{/some}} value="Panama">Panama</option>
<option {{#some preset.nationality '==' 'Papua New Guinea' '||' discord.nationality '==' 'Papua New Guinea'}} selected {{/some}} value="Papua New Guinea">Papua New Guinea</option>
<option {{#some preset.nationality '==' 'Paraguay' '||' discord.nationality '==' 'Paraguay'}} selected {{/some}} value="Paraguay">Paraguay</option>
<option {{#some preset.nationality '==' 'Peru' '||' discord.nationality '==' 'Peru'}} selected {{/some}} value="Peru">Peru</option>
<option {{#some preset.nationality '==' 'Phillipines' '||' discord.nationality '==' 'Phillipines'}} selected {{/some}} value="Phillipines">Phillipines</option>
<option {{#some preset.nationality '==' 'Pitcairn Island' '||' discord.nationality '==' 'Pitcairn Island'}} selected {{/some}} value="Pitcairn Island">Pitcairn Island</option>
<option {{#some preset.nationality '==' 'Poland' '||' discord.nationality '==' 'Poland'}} selected {{/some}} value="Poland">Poland</option>
<option {{#some preset.nationality '==' 'Portugal' '||' discord.nationality '==' 'Portugal'}} selected {{/some}} value="Portugal">Portugal</option>
<option {{#some preset.nationality '==' 'Puerto Rico' '||' discord.nationality '==' 'Puerto Rico'}} selected {{/some}} value="Puerto Rico">Puerto Rico</option>
<option {{#some preset.nationality '==' 'Qatar' '||' discord.nationality '==' 'Qatar'}} selected {{/some}} value="Qatar">Qatar</option>
<option {{#some preset.nationality '==' 'Republic of Montenegro' '||' discord.nationality '==' 'Republic of Montenegro'}} selected {{/some}} value="Republic of Montenegro">Republic of Montenegro</option>
<option {{#some preset.nationality '==' 'Republic of Serbia' '||' discord.nationality '==' 'Republic of Serbia'}} selected {{/some}} value="Republic of Serbia">Republic of Serbia</option>
<option {{#some preset.nationality '==' 'Reunion' '||' discord.nationality '==' 'Reunion'}} selected {{/some}} value="Reunion">Reunion</option>
<option {{#some preset.nationality '==' 'Romania' '||' discord.nationality '==' 'Romania'}} selected {{/some}} value="Romania">Romania</option>
<option {{#some preset.nationality '==' 'Russia' '||' discord.nationality '==' 'Russia'}} selected {{/some}} value="Russia">Russia</option>
<option {{#some preset.nationality '==' 'Rwanda' '||' discord.nationality '==' 'Rwanda'}} selected {{/some}} value="Rwanda">Rwanda</option>
<option {{#some preset.nationality '==' 'St Barthelemy' '||' discord.nationality '==' 'St Barthelemy'}} selected {{/some}} value="St Barthelemy">St Barthelemy</option>
<option {{#some preset.nationality '==' 'St Eustatius' '||' discord.nationality '==' 'St Eustatius'}} selected {{/some}} value="St Eustatius">St Eustatius</option>
<option {{#some preset.nationality '==' 'St Helena' '||' discord.nationality '==' 'St Helena'}} selected {{/some}} value="St Helena">St Helena</option>
<option {{#some preset.nationality '==' 'St Kitts-Nevis' '||' discord.nationality '==' 'St Kitts-Nevis'}} selected {{/some}} value="St Kitts-Nevis">St Kitts-Nevis</option>
<option {{#some preset.nationality '==' 'St Lucia' '||' discord.nationality '==' 'St Lucia'}} selected {{/some}} value="St Lucia">St Lucia</option>
<option {{#some preset.nationality '==' 'St Maarten' '||' discord.nationality '==' 'St Maarten'}} selected {{/some}} value="St Maarten">St Maarten</option>
<option {{#some preset.nationality '==' 'St Pierre & Miquelon' '||' discord.nationality '==' 'St Pierre & Miquelon'}} selected {{/some}} value="St Pierre & Miquelon">St Pierre & Miquelon</option>
<option {{#some preset.nationality '==' 'St Vincent & Grenadines' '||' discord.nationality '==' 'St Vincent & Grenadines'}} selected {{/some}} value="St Vincent & Grenadines">St Vincent & Grenadines</option>
<option {{#some preset.nationality '==' 'Saipan' '||' discord.nationality '==' 'Saipan'}} selected {{/some}} value="Saipan">Saipan</option>
<option {{#some preset.nationality '==' 'Samoa' '||' discord.nationality '==' 'Samoa'}} selected {{/some}} value="Samoa">Samoa</option>
<option {{#some preset.nationality '==' 'Samoa American' '||' discord.nationality '==' 'Samoa American'}} selected {{/some}} value="Samoa American">Samoa American</option>
<option {{#some preset.nationality '==' 'San Marino' '||' discord.nationality '==' 'San Marino'}} selected {{/some}} value="San Marino">San Marino</option>
<option {{#some preset.nationality '==' 'Sao Tome & Principe' '||' discord.nationality '==' 'Sao Tome & Principe'}} selected {{/some}} value="Sao Tome & Principe">Sao Tome & Principe</option>
<option {{#some preset.nationality '==' 'Saudi Arabia' '||' discord.nationality '==' 'Saudi Arabia'}} selected {{/some}} value="Saudi Arabia">Saudi Arabia</option>
<option {{#some preset.nationality '==' 'Senegal' '||' discord.nationality '==' 'Senegal'}} selected {{/some}} value="Senegal">Senegal</option>
<option {{#some preset.nationality '==' 'Serbia' '||' discord.nationality '==' 'Serbia'}} selected {{/some}} value="Serbia">Serbia</option>
<option {{#some preset.nationality '==' 'Seychelles' '||' discord.nationality '==' 'Seychelles'}} selected {{/some}} value="Seychelles">Seychelles</option>
<option {{#some preset.nationality '==' 'Sierra Leone' '||' discord.nationality '==' 'Sierra Leone'}} selected {{/some}} value="Sierra Leone">Sierra Leone</option>
<option {{#some preset.nationality '==' 'Singapore' '||' discord.nationality '==' 'Singapore'}} selected {{/some}} value="Singapore">Singapore</option>
<option {{#some preset.nationality '==' 'Slovakia' '||' discord.nationality '==' 'Slovakia'}} selected {{/some}} value="Slovakia">Slovakia</option>
<option {{#some preset.nationality '==' 'Slovenia' '||' discord.nationality '==' 'Slovenia'}} selected {{/some}} value="Slovenia">Slovenia</option>
<option {{#some preset.nationality '==' 'Solomon Islands' '||' discord.nationality '==' 'Solomon Islands'}} selected {{/some}} value="Solomon Islands">Solomon Islands</option>
<option {{#some preset.nationality '==' 'Somalia' '||' discord.nationality '==' 'Somalia'}} selected {{/some}} value="Somalia">Somalia</option>
<option {{#some preset.nationality '==' 'South Africa' '||' discord.nationality '==' 'South Africa'}} selected {{/some}} value="South Africa">South Africa</option>
<option {{#some preset.nationality '==' 'Spain' '||' discord.nationality '==' 'Spain'}} selected {{/some}} value="Spain">Spain</option>
<option {{#some preset.nationality '==' 'Sri Lanka' '||' discord.nationality '==' 'Sri Lanka'}} selected {{/some}} value="Sri Lanka">Sri Lanka</option>
<option {{#some preset.nationality '==' 'Sudan' '||' discord.nationality '==' 'Sudan'}} selected {{/some}} value="Sudan">Sudan</option>
<option {{#some preset.nationality '==' 'Suriname' '||' discord.nationality '==' 'Suriname'}} selected {{/some}} value="Suriname">Suriname</option>
<option {{#some preset.nationality '==' 'Swaziland' '||' discord.nationality '==' 'Swaziland'}} selected {{/some}} value="Swaziland">Swaziland</option>
<option {{#some preset.nationality '==' 'Sweden' '||' discord.nationality '==' 'Sweden'}} selected {{/some}} value="Sweden">Sweden</option>
<option {{#some preset.nationality '==' 'Switzerland' '||' discord.nationality '==' 'Switzerland'}} selected {{/some}} value="Switzerland">Switzerland</option>
<option {{#some preset.nationality '==' 'Syria' '||' discord.nationality '==' 'Syria'}} selected {{/some}} value="Syria">Syria</option>
<option {{#some preset.nationality '==' 'Tahiti' '||' discord.nationality '==' 'Tahiti'}} selected {{/some}} value="Tahiti">Tahiti</option>
<option {{#some preset.nationality '==' 'Taiwan' '||' discord.nationality '==' 'Taiwan'}} selected {{/some}} value="Taiwan">Taiwan</option>
<option {{#some preset.nationality '==' 'Tajikistan' '||' discord.nationality '==' 'Tajikistan'}} selected {{/some}} value="Tajikistan">Tajikistan</option>
<option {{#some preset.nationality '==' 'Tanzania' '||' discord.nationality '==' 'Tanzania'}} selected {{/some}} value="Tanzania">Tanzania</option>
<option {{#some preset.nationality '==' 'Thailand' '||' discord.nationality '==' 'Thailand'}} selected {{/some}} value="Thailand">Thailand</option>
<option {{#some preset.nationality '==' 'Togo' '||' discord.nationality '==' 'Togo'}} selected {{/some}} value="Togo">Togo</option>
<option {{#some preset.nationality '==' 'Tokelau' '||' discord.nationality '==' 'Tokelau'}} selected {{/some}} value="Tokelau">Tokelau</option>
<option {{#some preset.nationality '==' 'Tonga' '||' discord.nationality '==' 'Tonga'}} selected {{/some}} value="Tonga">Tonga</option>
<option {{#some preset.nationality '==' 'Trinidad & Tobago' '||' discord.nationality '==' 'Trinidad & Tobago'}} selected {{/some}} value="Trinidad & Tobago">Trinidad & Tobago</option>
<option {{#some preset.nationality '==' 'Tunisia' '||' discord.nationality '==' 'Tunisia'}} selected {{/some}} value="Tunisia">Tunisia</option>
<option {{#some preset.nationality '==' 'Turkey' '||' discord.nationality '==' 'Turkey'}} selected {{/some}} value="Turkey">Turkey</option>
<option {{#some preset.nationality '==' 'Turkmenistan' '||' discord.nationality '==' 'Turkmenistan'}} selected {{/some}} value="Turkmenistan">Turkmenistan</option>
<option {{#some preset.nationality '==' 'Turks & Caicos Is' '||' discord.nationality '==' 'Turks & Caicos Is'}} selected {{/some}} value="Turks & Caicos Is">Turks & Caicos Is</option>
<option {{#some preset.nationality '==' 'Tuvalu' '||' discord.nationality '==' 'Tuvalu'}} selected {{/some}} value="Tuvalu">Tuvalu</option>
<option {{#some preset.nationality '==' 'Uganda' '||' discord.nationality '==' 'Uganda'}} selected {{/some}} value="Uganda">Uganda</option>
<option {{#some preset.nationality '==' 'Ukraine' '||' discord.nationality '==' 'Ukraine'}} selected {{/some}} value="Ukraine">Ukraine</option>
<option {{#some preset.nationality '==' 'United Arab Erimates' '||' discord.nationality '==' 'United Arab Erimates'}} selected {{/some}} value="United Arab Erimates">United Arab Erimates</option>
<option {{#some preset.nationality '==' 'United Kingdom' '||' discord.nationality '==' 'United Kingdom'}} selected {{/some}} value="United Kingdom">United Kingdom</option>
<option {{#some preset.nationality '==' 'United States of America' '||' discord.nationality '==' 'United States of America'}} selected {{/some}} value="United States of America">United States of America</option>
<option {{#some preset.nationality '==' 'Uraguay' '||' discord.nationality '==' 'Uraguay'}} selected {{/some}} value="Uraguay">Uraguay</option>
<option {{#some preset.nationality '==' 'Uzbekistan' '||' discord.nationality '==' 'Uzbekistan'}} selected {{/some}} value="Uzbekistan">Uzbekistan</option>
<option {{#some preset.nationality '==' 'Vanuatu' '||' discord.nationality '==' 'Vanuatu'}} selected {{/some}} value="Vanuatu">Vanuatu</option>
<option {{#some preset.nationality '==' 'Vatican City State' '||' discord.nationality '==' 'Vatican City State'}} selected {{/some}} value="Vatican City State">Vatican City State</option>
<option {{#some preset.nationality '==' 'Venezuela' '||' discord.nationality '==' 'Venezuela'}} selected {{/some}} value="Venezuela">Venezuela</option>
<option {{#some preset.nationality '==' 'Vietnam' '||' discord.nationality '==' 'Vietnam'}} selected {{/some}} value="Vietnam">Vietnam</option>
<option {{#some preset.nationality '==' 'Virgin Islands (Brit)' '||' discord.nationality '==' 'Virgin Islands (Brit)'}} selected {{/some}} value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
<option {{#some preset.nationality '==' 'Virgin Islands (USA)' '||' discord.nationality '==' 'Virgin Islands (USA)'}} selected {{/some}} value="Virgin Islands (USA)">Virgin Islands (USA)</option>
<option {{#some preset.nationality '==' 'Wake Island' '||' discord.nationality '==' 'Wake Island'}} selected {{/some}} value="Wake Island">Wake Island</option>
<option {{#some preset.nationality '==' 'Wallis & Futana Is' '||' discord.nationality '==' 'Wallis & Futana Is'}} selected {{/some}} value="Wallis & Futana Is">Wallis & Futana Is</option>
<option {{#some preset.nationality '==' 'Yemen' '||' discord.nationality '==' 'Yemen'}} selected {{/some}} value="Yemen">Yemen</option>
<option {{#some preset.nationality '==' 'Zaire' '||' discord.nationality '==' 'Zaire'}} selected {{/some}} value="Zaire">Zaire</option>
<option {{#some preset.nationality '==' 'Zambia' '||' discord.nationality '==' 'Zambia'}} selected {{/some}} value="Zambia">Zambia</option>
<option {{#some preset.nationality '==' 'Zimbabwe' '||' discord.nationality '==' 'Zimbabwe'}} selected {{/some}} value="Zimbabwe">Zimbabwe</option>
</select>