{{#if flash }}
  <div class="flashmsg flashmsg-{{flash.type}}">
      <div class="view-wrapper">
        <div class="text">{{flash.message}}</div>
        <div class="box"><button class="flashmsg-{{flash.type}}" title="Close Notification">X</button></div>
      </div>
  </div>
{{/if}}