<footer>
  <div class="view-wrapper">
    <ul>
      <li>Niddabot © {{author.username}} 2018 :</li>
      <li><a href="/support">Support</a> |</li>
      <li><a href="/status">Niddabot Status</a> |</li>
      <li><a href="/official">Official Discord Server</a></li>
    </ul>
  </div>
</footer>