<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {{#if _sections.head}}
      {{{_sections.head}}}
    {{else}}
      <title>Niddabot: Discord | Nidawi.me</title>
    {{/if}}
</head>
<body>
    <header>
      <div class="view-wrapper">
        <h1>Niddabot</h1>
        <nav>
          <ul>
            <li><a href="/" title="Return to the landing page.">Home</a></li>
            <li><a href="/about" title="Find out more about Niddabot: Discord and her features.">About</a></li>
            {{>topmenu}}
          </ul>
        </nav>
        {{>account}}
      </div>
  </header>
  <div class="content">
    {{>flash}}
    <div class="view-wrapper">
      {{{body}}}
    </div>
  </div>
  <footer>
    <ul>
      <li><a href="">Support</a></li> | 
      <li><a href="">Niddabot Status</a></li> | 
      <li><a href="">Official Discord Server</a></li>
    </ul>
  </footer>
  <script type="text/javascript" src="/js/helpers.js"></script>
</body>
</html>