{{#section 'head'}}
  <title>Sign up | Niddabot: Discord | Nidawi.me</title>
  <link rel="stylesheet" type="text/css" href="/css/user.css">
{{/section}}
<div class="narrow-view">
  <div class="narrow-heading">
    <h1 class="title">Niddabot</h1>
    <p class="flavour">More than your average chat bot. She's your friend and loyal companion through your digital life.</p>
  </div>
  <hr>
  <h1>Create an account</h1>
  <div class="submit-wrapper">
    <input type="submit" class="facebook ignoreInput" value="Sign up with Facebook" title="This option has not been implemented yet." disabled>
  </div>
  <hr>
  <p>Start using Niddabot and enjoy a wide variety of features with a Niddabot account.</p>
  <form method="POST" action="/signup">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="details-wrapper">
      {{>countrylist}}
      <input type="text" name="name" placeholder="Account Name" value="{{preset.name}}">
      <input type="text" name="email" placeholder="E-mail Address" value="{{preset.email}}">
      <input type="password" name="password" placeholder="Password" value="">
    </div>
    <div class="terms-wrapper">
      <ul>
        <li><label><input type="checkbox" name="emailsChecked" checked>I agree to being contacted through e-mail (outside of critical issues).</label></li>
        <li><label><input type="checkbox" name="termsChecked">I agree to Niddabot's <a href="">Terms of Service</a>.</label></li>
      </ul>
    </div>
    <div class="submit-wrapper">
      <input type="submit" class="confirm" value="Create Free Account">
      <input type="submit" class="cancel" value="Already have an Account?" formaction="/signin" formmethod="GET">
    </div>
  </form>
</div>