{{#section 'head'}}
  <title>About | Niddabot: Discord | Nidawi.me</title>
{{/section}}
<div class="page-heading">
  <h1 class="title">Niddabot</h1>
  <p class="flavour">More than your average chat bot. She's your friend and loyal companion through your digital life.</p>
</div>
<hr>
<h1>About Niddabot</h1>
<hr>
<p>Niddabot © {{author.username}} 2018</p>
<h2>Background</h2>
<p>
  "Communication is key." This is a saying that quite likely most, if not all, of us have heard at one point or another in life. Indeed, few could argue against the importance of proper communication, and in modern society perhaps more importantly, means of communication. Throughout time, we have gone through eras of letters and phones until rather recently, looking at the big picture, the Internet came around and a whole new world opened for humanity. Since then, online communication has been a hot topic for consumers and companies alike. At the start we enjoyed nifty features such as emails but it was not until real-time chats were introduced that online communication really took off. An abundance of chat applications such as more primitive IRCs, MSN, and Skype have come and gone over the past 20 or so years as humanity kept hunting for the perfect way to communicate online, may it be for work, entertainment, or everyday smalltalk.
</p>
<p>
Then, a few years ago, in 2015, a new competitor emerged, <a href="https://discordapp.com/">Discord</a>, offering a sleek, easy-to-use interface and supporting personal and group communication with ease. Intended for gaming, it spread like wildfire through the younger generations and has since its inception spread far beyond its initial scope and become increasingly well-known, some may even go as far as to say renowned, in most spheres of life. As it stands today, it is not uncommon to hear about how Universities, Companies, and other entities entrust parts or the entirety of their communication to Discord. For an initially rather modest application written in JavaScript that was intended for gamers, this is without a doubt quite a feat.
</p>
<p>
  As with most things in life, when they become more popular and their userbases grow so too, quite naturally, do the needs of the users. These needs include the need for automation, a concept that is very common today where some cheer on technological progress while others worry that machines will one day replace humans. Regardless of one's stance on the matter, being able to delegate trivial and/or repetitious tasks onto someone else is nevertheless a much-welcomed quality-of-life to most. While the concept of a chat bot is indeed nothing new as they build upon this need of automation and have been around since the early days of the primitve IRCs (and even had a questionable song or two made about them), the demand for high-peformance, function-focused bots capable of performing increasingly complex tasks with high success rates never seem to dwindle. While at the start bots performed simple tasks such as keeping a channel alive, bots of the current day and age can do anything from moderating a chat to managing stocks for large corporations.
</p>
<h2>Problem & Solution</h2>
<p>
  While there are certainly many choices available for those looking for a Discord chat bot, most, if not all, of them seem to be very specialized in a certain field. For instance, the <i>NowLiveBot</i> focuses exclusively on providing updates on when streams go online for easy tracking, one of the many Wiki-bots focus exclusively on fetching information from various wikis and presenting information on the fly without users having to manually navigate to the respective wikis, and not to mention all the Entertainment Bots that offer everything from allowing users to play poker to simply printing out funny quotes and similar "simplistic" features.  
</p>
<p>
  What appears to be missing is a Jack-of-all-trades kind of bot and this is where Niddabot comes in. While specialized bots can be beneficial in regards to complexity, this is often off-set when users discover that they require more features and thus have to start stacking bots which may cause bloat and the bots in turn may come in conflict with one another. Many of these bots also have customization that is either unnecessarily complicated or strangely absent - leaving the user with much to be desired. The Niddabot Project Team intends to combine the best of both bot worlds by providing a chat bot that offers an as feature-rich functionality package as possible, while at the same time maintaining a light-weight form, and an easy-to-use web interface for user-specific bot customizations.
</p>
<p>
  Niddabot, conceived in 2014 and making her chat bot debut as a Twitch chat bot in 2015, and later as a Patreon manager bot in 2016, performs a variety of tasks, including both utility and entertainment, and is constantly evolving to meet user requirements. One might say that Niddabot is more like a virtual assistant, such as Microsoft's Cortana or Apple's Siri, than "just another chat bot" and to this we can do naught but agree. To us, she is not your average chat bot. She's your friend and loyal companion through your digital life. And now she has reached Discord.  
</p>