<div class="wrapper-input-large">
  <form>
    <h1>About Github Tracker, v. 1.03</h1>
    <p>The Github Tracker is a small application granting users the ability to track issues on their repositories in real time. The user can also participate in on-going conversations by reading and posting comments relating to issues.</p>
    <p>To use this application, the user must first authorize Niddabot: Github to access their Github account through the Guthub API. This can be done by clicking the "Login with Github" button on the landing page and following the on-screen instructions.</p>
    <div class="submit-wrapper">
      <label>This application is powered by freely available graphics provided by Pixabay.</label>
      <a href="https://pixabay.com/"><img class="img-banner" src="/img/pixabay.png" alt="Pixabay"></a>
    </div>
  </form>
  <div class="noticeBox">
    Please note that this application is provided "as is", with no guarantees or warrenties provided of any kind. In no event shall the author be liable for any claim, damage, or otherwise arising from, out of, or in connection with the application or its use.
  </div>
</div>