{{#section 'head'}}
  <title>Home | Niddabot: Discord | Nidawi.me</title>
{{/section}}
<div class="page-heading">
  <h1 class="title">Niddabot</h1>
  <p class="flavour">More than your average chat bot. She's your friend and loyal companion through your digital life.</p>
</div>
<hr>
<h1>Welcome to the official home of the Niddabot: Discord Project!</h1>
<hr>
<p>
  Niddabot is a Virtual Assistant providing a wide array of features, convenience and entertainment alike, to users across platform boundaries! This page is dedicated to the Discord version of Niddabot.
</p>
{{#if discord}}
  <p>Authenticate Niddabot to get the most out of her features, or have her join your Discord Guild! <a href="/user/ascend">Get Niddabot</a>!</p>
{{else}}
  <p>Don't have an account? Get started with Niddabot by creating a FREE account! <a href="/signup">Sign up</a>!
  <br>Already have an account? <a href="/signin">Sign in</a>!</p>
{{/if}}
<div class="noticeBox">
  By using this service, you acknowledge and agree to that cookies will be stored on your machine.
</div>