{{#section 'head'}}
  <title>Official Discord Server | Niddabot: Discord | Nidawi.me</title>
{{/section}}
<div class="page-heading">
  <h1 class="title">Niddabot</h1>
  <p class="flavour">More than your average chat bot. She's your friend and loyal companion through your digital life.</p>
</div>
<hr>
<h1>Niddabot's Official Discord Server</h1>
<hr>
<p>Thank you for showing interest in Niddabot and a desire to join her community on her very own, and indeed very official, Discord server!</p>
<p>Unfortunately, she is currently in <i>alpha testing</i> mode and therefore her Official server is restricted
  to a few select, and trusted, testers only. An invite to the server will be added here once she is ready to accommodate guests, so feel free to check back later!</p>
