{{#section 'head'}}
  <title>Status | Niddabot: Discord | Nidawi.me</title>
{{/section}}
<div class="page-heading">
  <h1 class="title">Niddabot</h1>
  <p class="flavour">More than your average chat bot. She's your friend and loyal companion through your digital life.</p>
</div>
<hr>
<h1>Niddabot Status</h1>
<hr>
<p>As Niddabot is still in development, there is no official status available. It will be added in due time.</p>
